<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Dilivery Services|foody.com</title>
    <link rel="stylesheet" href="/static/project2.css">
    <link rel="stylesheet" href="/static/about.css">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="/static/img/logo.jpg" alt="foody.com">
        </div>
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/services">Services</a></li>
            <li class="item"><a href="/about">About Us</a></li>
            <li class="item"><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="sec">
        <div class="di">
            <div class="about">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia amet architecto quaerat rerum officiis
                    dicta doloremque, porro veritatis? Eos ea aspernatur nesciunt ullam ipsam reiciendis explicabo facilis
                    molestiae placeat necessitatibus? </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minima nesciunt harum iusto labore ipsa
                    provident obcaecati assumenda facilis, cum quibusdam. Temporibus rerum expedita est at neque quaerat,
                    repellat soluta, nihil exercitationem impedit sequi iste provident dolor voluptas repudiandae accusamus
                    suscipit distinctio numquam praesentium. Reiciendis obcaecati deserunt esse laudantium aut!Lorem Lorem
                    ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus incidunt ullam ducimus cupiditate ad
                    cum ipsam, cumque laborum impedit voluptatum amet quidem, earum harum iste rem error repellat
                    repudiandae id.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque obcaecati cupiditate non dolore
                    assumenda officiis id, provident vel facilis ex.</p>
            </div>
        </div>
    <section>
    <footer>
        <div class="center">
        |    Copyright &copy; www.foody.com. All Right Reserved
        </div>
    </footer>
</body>

</html>