<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Dilivery Services|foody.com</title>
    <link rel="stylesheet" href="/static/project2.css">
    <link rel="stylesheet" href="/static/services.css">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="/static/img/logo.jpg" alt="foody.com">
        </div>
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/services">Services</a></li>
            <li class="item"><a href="/about">About Us</a></li>
            <li class="item"><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>

    <section class="servise-container">
        <h1 class="h-primary center"> Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="/static/img/pizza.jpg" alt="img.food">
                <h2 class="h-secondary center">Food Odering</h2>
                <p class="center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ad exercitationem id doloremque optio voluptas perferendis, ut provident hic error dicta ratione voluptatum pariatur odit impedit libero consequuntur iste nulla. Ad iure alias dignissimos laborum quas veritatis tempora quae omnis?
                </p>
            </div>
            <div class="box">
                <img src="/static/img/bulk order.jpg" alt="img.food">
                <h2 class="h-secondary center"> Bulk Odering</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut natus rerum possimus quo? Neque ab, voluptatem tenetur, possimus minus necessitatibus iste saepe veniam ducimus fuga debitis. Voluptates nostrum deleniti animi.
                </p>
            </div>
            <div class="box">
                <img src="/static/img/dilivery boy.jpg" alt="img.food">
                <h2 class="h-secondary center">Home Delivery</h2>
                <p class="center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo perspiciatis quas vitae suscipit inventore dolores molestiae cum! Numquam voluptas explicabo rerum repellat nobis accusantium eligendi a expedita quae, fugit omnis laborum recusandae tempora, quidem maiores. Impedit sequi ad, autem doloribus cupiditate nesciunt pariatur, possimus quisquam recusandae nostrum necessitatibus exercitationem excepturi?
                </p>
            </div>
        </div>
    </section>
    <footer>
        <div class="center">
        |    Copyright &copy; www.foody.com. All Right Reserved
        </div>
    </footer>
</body>

</html>